#divCard {
    width: 22rem;
    display: inline-flex;
    margin: 70px;
    border: solid 3px rgb(201, 174, 174);
    /* background-color: rgba(69, 165, 225, 0.659); */
}

#nombre_tarjeta {
    text-align: center;
    color: rgb(41, 75, 186);
}

#seccion_celebridades {
    background: url('https://i.pinimg.com/originals/1f/69/af/1f69afb7d86d6e54a77cf912b624de32.jpg');
}

/* #boton_favoritos {
    
} */

#lista_detalles {
    border: green;
}