#divCard {
    width: 22rem;
    display: inline-flex;
        margin: 20px;
    border: solid 1px rgb(201, 174, 174);
    /* background-color: rgba(69, 165, 225, 0.659); */
}

#nombre_tarjeta {
    text-align: center;
    color: rgb(187, 20, 20);
}

#seccion_celebridades {
    background: url('https://w.forfun.com/fetch/4e/4e8b61705aea3fe461bdab75e62e0c8f.jpeg');
}

/* #boton_favoritos {
    
} */

#lista_detalles {
    border: rgb(183, 197, 183);
}